TimeManager/TimeManager.sln
TimeManager/.vs/TimeManager/v16/.suo
TimeManager/TimeManager/TimeManager.csproj
TimeManager/TimeManager/obj/project.assets.json
TimeManager/TimeManager/obj/project.nuget.cache
TimeManager/TimeManager/obj/TimeManager.csproj.nuget.dgspec.json
TimeManager/TimeManager/obj/TimeManager.csproj.nuget.g.props
TimeManager/TimeManager/obj/TimeManager.csproj.nuget.g.targets
TimeManager/TimeManager/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
TimeManager/TimeManager/obj/Debug/netcoreapp3.1/TimeManager.AssemblyInfo.cs
TimeManager/TimeManager/obj/Debug/netcoreapp3.1/TimeManager.AssemblyInfoInputs.cache
TimeManager/TimeManager/obj/Debug/netcoreapp3.1/TimeManager.assets.cache
TimeManager/TimeManager/obj/Debug/netcoreapp3.1/TimeManager.csprojAssemblyReference.cache
