TimeManager/.vs/TimeManager/v16/.suo
TimeManager/TimeManager/bin/Debug/netcoreapp3.1/TimeManager.deps.json
TimeManager/TimeManager/bin/Debug/netcoreapp3.1/TimeManager.dll
TimeManager/TimeManager/bin/Debug/netcoreapp3.1/TimeManager.exe
TimeManager/TimeManager/bin/Debug/netcoreapp3.1/TimeManager.pdb
TimeManager/TimeManager/bin/Debug/netcoreapp3.1/TimeManager.runtimeconfig.dev.json
TimeManager/TimeManager/bin/Debug/netcoreapp3.1/TimeManager.runtimeconfig.json
TimeManager/TimeManager/obj/Debug/netcoreapp3.1/TimeManager.csproj.CoreCompileInputs.cache
TimeManager/TimeManager/obj/Debug/netcoreapp3.1/TimeManager.csproj.FileListAbsolute.txt
TimeManager/TimeManager/obj/Debug/netcoreapp3.1/TimeManager.dll
TimeManager/TimeManager/obj/Debug/netcoreapp3.1/TimeManager.exe
TimeManager/TimeManager/obj/Debug/netcoreapp3.1/TimeManager.genruntimeconfig.cache
TimeManager/TimeManager/obj/Debug/netcoreapp3.1/TimeManager.pdb
TimeManager/.vs/TimeManager/DesignTimeBuild/.dtbcache.v2
